
.alert-warning{
    max-width: fit-content;
    margin-top: 3%;
}
.navbar{
    margin: 0px;
}
.card {
    /* Your existing card styles */
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
  }
  .entry{
    margin-top: 5%;
    padding-bottom: 0%;
    background-color: #e6e3e3;
}
.toggle{
    display: flex;
    justify-content: flex-end;
}
  
  .elevated {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adjust the values as needed */
  }
  .over-flow{
    margin-bottom: 100px;
    padding-bottom: 60px;
    padding-top: 2%;
  }
  .error-width {
    width: fit-content;
    padding: 10px 10px 10px 10px;
  }