<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/home" class="navbar-brand">
            Digital Diary</a>
        </div>
        <div *ngIf="!authenticationService.isUserLoggedIn()" class="navbar-brand">Digital Diary</div>
        <!-- <ul class="navbar-nav">
            <li><a routerLink="/home" class="nav-link">Home</a></li>
        </ul> -->

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="menu-item" ><button (click)="selectParent()" mat-flat-button color="">Set Parent</button></li>
                <li><a (click)="login()" *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link"><button mat-raised-button color="warn">Login</button></a></li>
                <li><a (click)="logout()" *ngIf="authenticationService.isUserLoggedIn()" class="nav-link"><button mat-raised-button color="primary" [style.color]="'white'">Logout</button></a></li>
        </ul>
    </nav>
    
    
</header>
<br>