.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-item {
  width: 100%;
}

.elevated {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}
.icon{
  margin-right: 15px;
}
.name {
  font-size: 20px;
  height: fit-content;
  width: fit-content;
}

button{
  width: fit-content;
  height: fit-content;
}

.big-icon{
  font-size: 40px;
  height: fit-content;
  width: fit-content;
}
.medium-icon{
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 35px;
  height: fit-content;
  width: fit-content;
}


.card{
  background-color: #f0f0f0; /* Light grey color */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  transition: box-shadow 5000s ease;
  display: flex;
  align-items: center;
}

.content{
  display: flex;
  align-items: center;
}

.card:hover{
  cursor: pointer;
  background-color: #c3c0c0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
