<h1 *ngIf="userBean">Welcome {{userBean.username.toUpperCase()}}</h1>

<div style="text-align: center;">
  <h1>
    Select a feature to explore!!!
  </h1>
  <br>
</div>

<div class="grid-container">
    <div class="grid-item" *ngFor="let feature of features" (click)="switchPage(feature)">
      <div class="card elevated">
        <div class="content">
          <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon={{feature.icon}}></mat-icon>
          <span class="name">{{ feature.name }}</span>
        </div>
      </div>

    </div>
  </div>
