<button (click)="getChildRecord()" class="btn btn-success" mat-raised-button color="primary">Fetch Yesterday's Entry</button>
<br>
<br>

<div *ngIf="errorMessage" class="card elevated error-width">
    <div class="alert alert-warning elevated" >{{errorMessage}}</div>
</div>
<div class="container">
    <div *ngIf="childEntry" class="card container entry elevated">

        <p>{{childEntry.content}}</p>
        <div class="date-wrapper">
            
            
            <div>
                <nav class="navbar navbar-expand-md ">
                
                    <ul class="navbar-nav">
                        <li><p>By {{childEntry.userId.firstName}} {{childEntry.userId.lastName}}</p></li>


                    </ul>
                    <ul class="navbar-nav navbar-collapse justify-content-end">
                        <li><p class="para-right">{{childEntry.userId.email}} | {{childEntry.entryDate | date:'dd-MMM-yyyy'}}</p></li>
                    </ul>
            </nav>
            </div>
        </div>
    </div>
</div>
